.button {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: var(--button-text-color);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.colorSecondary {
  background-image: linear-gradient(
    117deg,
    var(--secondary-button-background-color-start),
    var(--secondary-button-background-color-end)
  );
  border: 1px solid var(--secondary-button-background-color-start);
}

.fullWidth {
  width: 400px;
  height: 45px;
  font-size: 18px;
}
