.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.input {
  width: 94px;
  height: 40px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
  color: var(--main-text-color);
  border: none;
  outline: none;
  background-color: transparent;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--main-text-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.input::placeholder {
  font-size: 22px;
  font-weight: 700;
  color: var(--secondary-text-color);
  opacity: 0.5;
}

.span {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  align-self: flex-end;
}
